.menu {
  line-height: 1;
  a {
    color: var(--txtDefault);
    text-decoration: unset;

    display: inline-block;
    padding: 5px 8px;
    border-left: 2px solid var(--bdColor);

    transition: padding 0.1s linear;
    &.active,
    &:hover,
    &:focus-visible {
      padding-right: 24px;
    }
  }
}
