.skeleton {
  display: inline-block;
  animation: skeleton 2s linear infinite 0s;
  background: right 0 / 180% 100%
    linear-gradient(120deg, transparent 30%, #fff5 calc(30% + 20px), transparent calc(30% + 60px))
    fixed no-repeat;
  vertical-align: baseline;
}

@keyframes skeleton {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -120%;
  }
}
