.layoutContainer {
  min-height: 100vh;
  .menuContainer {
  }
  .page {
    .pageContainer {
      position: relative;
      .pageContentWrapper{
        max-height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
      }

      .page-exit {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .page-exit-active {
        opacity: 0;
        transition: opacity 75ms linear;
      }
      .page-enter {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .page-enter-active {
        opacity: 1;
        transition: opacity 75ms linear;
      }
    }
  }
}
