.buttonWrapper {
  //
  // Stripping default properties
  //
  border-radius: 0;
  border: none;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;

  border: 1px solid var(--bdColor);
  text-transform: uppercase;

  padding: 2px 2px;
  transition: padding 0.1s linear;

  .button {
    padding: 5px 7px;
    transition: padding 0.1s linear;
  }

  &[disabled] {
    cursor: unset;
  }

  &:not([disabled]):hover {
    padding: 5px 6px;
    .button {
      padding: 2px 3px;
    }
  }

  &.large {
    padding: 2px 2px;
    .button {
      padding: 6px 20px;
    }
    &:not([disabled]):hover {
      padding: 5px 15px;

      .button {
        padding: 3px 7px;
      }
    }
  }
}
