/*
 *------------------------- VARS
*/

$xs-breakpoint: 600px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 100px;

/*
 *------------------------- GENERAL UTILITIES
*/

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: var(--q-color-dark);
}

#pageLayout::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
    #f0c80c
}

.vbv-home::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3E%3Cfilter id='g'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' .8 .8 0 0 0 .8 .8 0 0 0 0 0 0 0 0 0 0 0 1 0' /%3E%3C/filter%3E%3Crect filter='url(%23g)' width='100' height='100' opacity='.5'/%3E%3C/svg%3E"),
  linear-gradient(90deg, #cfa600 calc(50% - 2px), #b07300 calc(50% + 2px))
}

.vbv-bg-yellow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
    #f0c80c
}

.vbv-bg-gold {
  background:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
  #d09200
}

@media (max-width: $sm-breakpoint) {
  #pageLayout::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
      #f0c80c
  }

  .vbv-home::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3E%3Cfilter id='g'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' .8 .8 0 0 0 .8 .8 0 0 0 0 0 0 0 0 0 0 0 1 0' /%3E%3C/filter%3E%3Crect filter='url(%23g)' width='100' height='100' opacity='.5'/%3E%3C/svg%3E"),
    linear-gradient(90deg, #cfa600 calc(50% - 2px), #b07300 calc(50% + 2px))
  }

  .vbv-bg-yellow {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
      #f0c80c
  }

  .vbv-bg-gold {
    background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values=' 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0.333 0.333 0.333 0 0 0 0 -0.5 1 0 ' /%3E%3CfeColorMatrix type='matrix' values=' 0 0 0 0 0.5 0 0 0 0 0.14 0 0 0 0 0 0 0 0 1 0 ' /%3E%3C/filter%3E%3Cg%3E%3Crect filter='url(%23n)' opacity='.5' width='80' height='80'/%3E%3C/g%3E%3C/svg%3E"),
    #d09200
  }
}

.vbv-body-content a,
.vbv-body-content a[href],
.vbv-body-content a[href]:focus {
  color: var(--q-color-secondary);
  text-transform: none;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, transparent 0% calc(100% - 1px), var(--q-color-secondary) calc(100% - 1px) 100%);
  background-size: 0% 100%;
  transition: background-size .4s ease-in, text-shadow .4s linear;
}

.vbv-body-content a[href]:focus,
.vbv-body-content a[href]:hover,
.vbv-body-content a[href]:focus-visible {
  background-size: 100% 100%;
  outline: none;
}

.vbv-body-content a[href]:focus-visible {
  text-shadow: 0 0 10px var(--q-color-primary), 0 0 15px var(--q-color-primary);
}

.half-width {
  width: 50%;
}

/*
 *------------------------- TRANSITIONS
*/

.t-fast-ease {
  transition: all .1s ease;
}

.t-fast-linear {
  transition: all .1s linear;
}

.t-fast-ease-in {
  transition: all .1s ease-in;
}

.t-fast-ease-out {
  transition: all .1s ease-out;
}

.t-fast-ease-in-out {
  transition: all .1s ease-in-out;
}

.t-normal-ease {
  transition: all .2s ease;
}

.t-normal-linear {
  transition: all .2s linear;
}

.t-normal-ease-in {
  transition: all .2s ease-in;
}

.t-normal-ease-out {
  transition: all .2s ease-out;
}

.t-normal-ease-in-out {
  transition: all .2s ease-in-out;
}

/*
 *------------------------- FONTS
*/

@font-face {
  font-family: Cabin;
  src: url(../assets/Fonts/Cabin.ttf);
}

.cabin {
  font-family: Cabin, Arial;
}

@font-face {
  font-family: 'Cabin Italic';
  src: url(../assets/Fonts/Cabin-Italic.ttf);
}

.cabin-italic {
  font-family: 'Cabin Italic', Arial;
}

@font-face {
  font-family: 'Cinzel';
  src: url(../assets/Fonts/Cinzel-VariableFont_wght.ttf);
}

.cinzel {
  font-family: 'Cinzel', Times;
}

@font-face {
  font-family: 'Fenix';
  src: url(../assets/Fonts/Fenix.ttf);
}

.fenix {
  font-family: 'Fenix', Times;
}

/*
 *------------------------- TYPOGRAPHY
*/

.deco-none {
  text-decoration: none;
}

.transform-none {
  text-transform: none;
}

.small-line {
  line-height: 1;
}

/*
 *------------------------- COLORS
*/

.text-thin-dark-overlay {
  color: rgba(0, 0, 0, .07);
}
.bg-thin-dark-overlay {
  background: rgba(0, 0, 0, .07);
}

.text-light-dark-overlay {
  color: rgba(0, 0, 0, .1);
}
.bg-light-dark-overlay {
  background: rgba(0, 0, 0, .1);
}

.text-med-dark-overlay {
  color: rgba(0, 0, 0, .3);
}
.bg-med-dark-overlay {
  background: rgba(0, 0, 0, .3);
}

.text-heavy-dark-overlay {
  color: rgba(0, 0, 0, .5);
}
.bg-heavy-dark-overlay {
  background: rgba(0, 0, 0, .5);
}

.text-uheavy-dark-overlay {
  color: rgba(0, 0, 0, .9);
}
.bg-uheavy-dark-overlay {
  background: rgba(0, 0, 0, .9);
}

.text-thin-bright-overlay {
  color: rgba(255, 255, 255, .07);
}
.bg-thin-bright-overlay {
  background: rgba(255, 255, 255, .07);
}

.text-light-bright-overlay {
  color: rgba(255, 255, 255, .1);
}
.bg-light-bright-overlay {
  background: rgba(255, 255, 255, .1);
}

.text-med-bright-overlay {
  color: rgba(255, 255, 255, .3);
}
.bg-med-bright-overlay {
  background: rgba(255, 255, 255, .3);
}

.text-heavy-bright-overlay {
  color: rgba(255, 255, 255, .5);
}
.bg-heavy-bright-overlay {
  background: rgba(255, 255, 255, .5);
}

.text-uheavy-bright-overlay {
  color: rgba(255, 255, 255, .9);
}
.bg-uheavy-bright-overlay {
  background: rgba(255, 255, 255, .9);
}

/*
 *------------------------- CUSTOM BEHAVIOR
*/

/*********************************** GENERIC UTILITIES */

.vbv-neon {
  filter: drop-shadow(0 0 2px var(--q-color-primary));
}

.vbv-anaglyph {
  filter: drop-shadow(-1px 0 0 #F00C) drop-shadow(1px 0 0 #0FFC);
}

/*********************************** HOME */

.vbv-home-clock {
  min-width: 800px;
  z-index: 1;
}

.vbv-home-responsive-container {
  padding-top: 30%;
}

.vbv-menu-link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: .5em;
  width: .5em;
  background-color: var(--q-color-secondary);
  transition: width .2s ease;
}

.vbv-menu-link.vbv-menu-current-link::before {
  transform: translateY(-50%);
  width: 1em;
  background-color: var(--q-color-accent);
}

.vbv-home-head-container {
  position: relative;
  z-index: 2;
}

.vbv-home-head-word {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .2em
}

.vbv-home-head-word + .vbv-home-head-word {
  margin-left: 20px;
}

.vbv-home-subtitle {
  animation: fadeInUp 2s linear;
  z-index: 2;
}

.vbv-home-head-underline {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,.2);
}

.vbv-home-head-underline::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0;
  background-color: var(--q-color-secondary);
  animation: vbv_home_underline_expand 1.5s linear 0s 1 forwards;
  filter: drop-shadow(0 0 2px var(--q-color-primary));
}

@keyframes vbv_home_underline_expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#vbvHomeContent {
  padding-top: 100px;
}

.vbv-tab-indicator .q-tabs__content {
  overflow: visible;
}

.vbv-tab-indicator .q-tab__indicator {
  filter: drop-shadow(0 0 2px var(--q-color-primary));
}

/*********************************** ABOUT */

.vbv-longtext > ::first-letter {
  font-size: 1.2em;
  text-shadow: -1px 0 0 #F00, 1px 0 0 #0FF;
	mix-blend-mode: screen;
}

/*
 *------------------------- SVG
*/

.vbv-stroke-dark,
.vbv-stroke-dark * {
  stroke: var(--q-color-dark);
}

/*
 *------------------------- BORDERS
*/

.bd-bottom {
  border-bottom: 1px solid var(--q-color-primary);
}

.bd-top {
  border-top: 1px solid var(--q-color-primary);
}

.bd-y {
  border-bottom: 1px solid var(--q-color-primary);
  border-top: 1px solid var(--q-color-primary);
}

.bd-left {
  border-left: 1px solid var(--q-color-primary);
}

.bd-right {
  border-right: 1px solid var(--q-color-primary);
}

.bd-x {
  border-right: 1px solid var(--q-color-primary);
  border-left: 1px solid var(--q-color-primary);
}

.bd-all {
  border-right: 1px solid var(--q-color-primary);
  border-left: 1px solid var(--q-color-primary);
}

.bd-primary {
  border-color: var(--q-color-primary);
}
.bd-secondary {
  border-color: var(--q-color-secondary);
}
.bd-accent {
  border-color: var(--q-color-accent);
}
.bd-positive {
  border-color: var(--q-color-positive);
}
.bd-negative {
  border-color: var(--q-color-negative);
}
.bd-info {
  border-color: var(--q-color-info);
}
.bd-warning {
  border-color: var(--q-color-warning);
}
.bd-dark {
  border-color: var(--q-color-dark);
}

/*
 *------------------------- LAYOUT
*/

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

/*
 *------------------------- CONTACT
*/

.textarea-no-resize,
.textarea-no-resize textarea {
  resize: none !important;
}

.q-field--dark .q-field__control:hover::before {
  border-color: var(--q-color-primary)
}

.q-field--dark:not(.q-field--highlighted) .q-field__label,
.q-field--dark .q-field__marginal,
.q-field--dark .q-field__bottom {
  color: var(--q-color-primary)
}
