$colors: (
  'primary': #d8521d,
  'primary-light': #e67142,
  'secondary': #d81d46,
  'accent': #d8b01d,
  'highlight': #1da3d8,

  'white': white,
  'lightgrey': #888,
  'grey': #444,
  'dark': #222,
  'transparent': transparent,
);

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
    --bgColor: #{$value};
  }
  .txt-#{$name} {
    color: $value;
    --txtColor: #{$value};
  }
  .bd-#{$name} {
    border-color: $value;
    --bdColor: #{$value};
  }

  //
  // Dimmed
  //
  $adjusted: rgba($value, 0.7);
  .bg-#{$name}-dimmed {
    background-color: $adjusted;
    --bgColor: #{$adjusted};
  }
  .txt-#{$name}-dimmed {
    color: $adjusted;
    --txtColor: #{$adjusted};
  }
  .bd-#{$name}-dimmed {
    color: $adjusted;
    --bdColor: #{$adjusted};
  }
}

$themes: (
  'light': (
    'back': map-get($colors, 'white'),
    'text': map-get($colors, 'dark'),
  ),
  'dark': (
    'back': map-get($colors, 'dark'),
    'text': map-get($colors, 'white'),
  ),
);

@each $themeName, $themeValue in $themes {
  @media (prefers-color-scheme: $themeName) {
    body {
      background-color: map-get($themeValue, 'back');
      --backgroundColor: #{map-get($themeValue, 'back')};
      color: map-get($themeValue, 'text');
      --textColor: #{map-get($themeValue, 'text')};
    }

    .bg-default {
      background-color: map-get($themeValue, 'back');
      --bgColor: #{map-get($themeValue, 'back')};
    }
    .txt-default {
      color: map-get($themeValue, 'text');
      --txtColor: #{map-get($themeValue, 'text')};
    }
    .bd-default {
      color: map-get($themeValue, 'text');
      --bdColor: #{map-get($themeValue, 'text')};
    }

    $adjusted: rgba(map-get($themeValue, 'back'), 0.7);
    .bg-default-dimmed {
      background-color: $adjusted;
      --bgColor: #{$adjusted};
    }

    $adjusted: rgba(map-get($themeValue, 'text'), 0.7);
    .txt-default-dimmed {
      color: $adjusted;
      --txtColor: #{$adjusted};
    }
    .bd-default-dimmed {
      color: $adjusted;
      --bdColor: #{$adjusted};
    }
  }
}
