@font-face {
  font-family: 'Komika';
  src: url('/assets/fonts/Komika_display-webfont.eot');
  src:
    url('/assets/fonts/Komika_display-webfont.woff2') format('woff2'),
    url('/assets/fonts/Komika_display-webfont.woff') format('woff'),
    url('/assets/fonts/Komika_display-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
